/* Här är Kundkorgs knappen */
.cart-container{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.cartprice{
   font-weight: 200;
   justify-content: center;
}

.cartproduct{
    height: 30px;
    width: 30px;
}

.cart-header {
 background-color: pink;
 border-radius: 2px;
 outline: none;
 border: none;
 width: 150px;
}

.cart-header:hover 
{background-color: rgb(238, 232, 233)
}



    