.shoe-items{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
background-color: #CCE2FC;
padding: 4rem;
}

.shoe-title{
text-align: center;
font-size: 2rem;
font-weight: bold;
margin-bottom: 5rem;
}

.shoe-img{
display: flex;
margin-left: 4rem;
float: left;
}

.shoe-description{
display: flex;
flex-direction: column;
float: right;
text-align: center;
width: 15rem;
height: auto;
margin-right: 5rem;
}

.shoe-about{
font-size: 17px;
width: 20rem;
}
.shoe-price, .shoe-quantity{
font-size: 15px;
margin-left: 5rem;
}


.addproduct-button{
margin-top: 3rem;
padding: 1rem;
width: 15rem;
height: 6rem;
margin-left: 2rem;
color: whitesmoke;
border: 1px solid whitesmoke;
background-color: #D18CAA;
}