.welcome-container{
text-align: center;
background-color: whitesmoke;
padding-top: 10rem;
padding-bottom: 10rem;
}

.welcome-title{
font-size: 3rem;
color:#D18CAA;

}

.welcome-link{
font-size:2rem;
text-decoration: none;
color:#ebd771;
}