.welcome-container{
display: flex;
background-color: whitesmoke;
padding-top: 10rem;
padding-bottom: 10rem;
justify-content: space-around;
max-width: 100%;
}

.welcome{
  display:block;
  justify-content: center;
  padding: 5em;
  font-family: 'Permanent Marker', cursive;
}

.click-here{
padding: 5em;
display: block;
justify-content: center;
line-height: 140px;
font-family: 'Permanent Marker', cursive; 
animation: roll 3s;
transform: rotate(30deg);
opacity: .7;
/* animation-duration: 3s;
animation-name: slidein; */
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.welcome-title{
font-size: 3rem;
color:#D18CAA;

}

.welcome-link{
font-size:2rem;
text-decoration: none;
color:#ebd771;
}